nav{
    background-color: lightgray;
    height: 8vh;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    height: 100%;
}
li{
    list-style: none;
    margin: 0 12px;
}
a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}